

<footer>
    <div class="social-icons">
      <a href="https://es-es.facebook.com/AQUINHQV/">
        <img src="../../../../assets/RRSS/face.png" alt="Facebook Icon">
      </a>
      <a href="https://twitter.com/universoanhqv?lang=es">
        <img src="../../../../assets/RRSS/twitter.png" alt="Twitter Icon">
      </a>
      <a href="https://www.instagram.com/aquinohayquienviva_oficial/?hl=es">
        <img src="../../../../assets/RRSS/instagram.png" alt="Instagram Icon">
      </a>
    </div>
  </footer>
  